<h1><%= @article.title %></h1>
<p><%= @article.content%></p>
<%= link_to "Delete", article_path(@article),
method: :delete,
data: { confirm: "are you sure" } %>

<%= link_to "Home", articles_path %>
<%= link_to "Edit", edit_article_path %>
